# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDE / Editor Files
.vscode/
.idea/
*.swp
*.swo

# Temporary Files
*.tmp
*.bak
.grok-changes/
/New folder*/
temp_kg.html
googlebot_kg.html
ddg.html
FREE_SAMPLES_BY_PACKAGE/
.env*
.vercel/
events/WEBSITE CONTENT/
